/* here you can put your own css to customize and override the theme */

.img-custom-thumbnail {
  padding: 3px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 60px;
  height: auto; }

  .img-custom-profile-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 30%;
    height: auto; }

  .mt-comments .mt-comment .mt-comment-body .mt-comment-text {
    color:#4e5a64; }

  .search-content-4 .search-table .table-desc {
    font-size: 14px;
    color:#4e5a64; }

    /* GALLERY STYLING
  -------------------------------------------------- */

  .gallery h3 a {
    color: #cacaca;
    -webkit-transition: all 0.1s ease-in-out 0s;
            transition: all 0.1s ease-in-out 0s;
  }
  .gallery h3 a:hover {
    color: #4a4a4a;
  }
  .gallery h4 {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .gallery .img-overlay {
    background-color: white; /*#255a8a;*/
    border-radius: 4px;
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .gallery .img-overlay i {
    color: white;
    display: none;
    font-size: 48px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    width: 42px;
    height: 44px;
  }
  .gallery .img-overlay:hover img {
    opacity: .5;
  }
  .gallery .img-overlay:hover i {
    display: block;
  }
  .gallery .tag {
    color: #cacaca;
    display: block;
    margin-bottom: 20px;
  }

/* TIMELINE STYLING
-------------------------------------------------- */
.timeline .timeline-body-arrow {
    position: absolute;
    top: 30px;
    left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    border-color: transparent #cccccc transparent transparent; }

  .timeline .timeline-badge-userpic {
    width: 80px;
    border: 4px #cccccc solid;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }

  .timeline:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #dddddd;
    top: 0px;
    bottom: 0px;
    margin-left: 38px; }

  .timeline .timeline-response-body {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    margin-left: 110px;
    background-color: #ffffee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }


  /* TIMELINE STYLING FOR DISCUSSION POSTS
  -------------------------------------------------- */
.timeline-post {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 30px; }
  .timeline-post:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    /*background: #f5f6fa;*/
    top: 0px;
    bottom: 0px;
    margin-left: 38px; }
  .timeline-post .timeline-item {
    margin: 0;
    padding: 0; }
  .timeline-post .timeline-badge {
    float: left;
    position: relative;
    padding-right: 30px;
    height: 80px;
    width: 80px; }
  .timeline-post .timeline-badge-userpic {
    width: 80px;
    border: 4px #cccccc solid;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }
  .timeline-post .timeline-badge-userpic img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    vertical-align: middle !important; }
  .timeline-post .timeline-icon {
    width: 80px;
    height: 80px;
    background-color: #f5f6fa;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    padding-top: 30px;
    padding-left: 22px; }
  .timeline-post .timeline-icon i {
    font-size: 34px; }
  .timeline-post .timeline-body {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    margin-left: 110px;
    background-color: #f5f6fa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    .timeline-post .timeline-body:before,
    .timeline-post .timeline-body:after {
      content: " ";
      display: table; }
    .timeline-post .timeline-body:after {
      clear: both; }
  .timeline-post .timeline-body-arrow {
    position: absolute;
    top: 30px;
    left: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    border-color: transparent #cccccc transparent transparent; }
  .timeline-post .timeline-body-head {
    margin-bottom: 10px; }
  .timeline-post .timeline-body-head-caption {
    float: left; }
  .timeline-post .timeline-body-title {
    font-size: 16px;
    font-weight: 600; }
  .timeline-post .timeline-body-alerttitle {
    font-size: 16px;
    font-weight: 600; }
  .timeline-post .timeline-body-time {
    font-size: 14px;
    margin-left: 10px; }
  .timeline-post .timeline-body-head-actions {
    float: right; }
  .timeline-post .timeline-body-head-actions .btn-group {
    margin-top: -2px; }
  .timeline-post .timeline-body-content {
    font-size: 14px;
    margin-top: 35px; }
  .timeline-post .timeline-body-img {
    width: 100px;
    height: 100px;
    margin: 5px 20px 0 0px; }
  .timeline-post.white-bg:before {
    background: #fff; }
  .timeline-post.white-bg .timeline-badge-userpic {
    border-color: #fff; }
  .timeline-post.white-bg .timeline-icon {
    background-color: #fff; }
  .timeline-post.white-bg .timeline-body {
    background-color: #fff; }
  .timeline-post.white-bg .timeline-body-arrow {
    border-color: transparent #fff transparent transparent; }

@media (max-width: 768px) {
  .timeline-post .timeline-body-head-caption {
    width: 100%; }
  .timeline-post .timeline-body-head-actions {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  .timeline-post:before {
    margin-left: 28px; }
  .timeline-post .timeline-badge {
    padding-right: 40px;
    width: 60px;
    height: 60px; }
  .timeline-post .timeline-badge-userpic {
    width: 60px; }
  .timeline-post .timeline-icon {
    width: 60px;
    height: 60px;
    padding-top: 23px;
    padding-left: 18px; }
  .timeline-post .timeline-icon i {
    font-size: 25px; }
  .timeline-post .timeline-body {
    margin-left: 80px; }
  .timeline-post .timeline-body-arrow {
    top: 17px; } }
    /*  custom message styles */
div.listBox {
  box-shadow: 0 0 3px rgba(51,153,255,0.5);
  background-color: white;
  padding: 3px 2px 3px 2px;
  margin: 0;
  border: 1px solid rgba(0,102,204,0.5);
  border-radius: 5px;
}
div.listBoxYellow {
  box-shadow: 0 0 3px rgba(51,153,255,0.5);
  background-color: rgba(255,255,204,0.5);
  padding: 3px 2px 3px 5px;
  margin: 5px 0px 5px 0px;
  border: 1px solid rgba(0,102,204,0.5);
  border-radius: 5px;
  width:80%;
}
div.listBoxGreen {
  box-shadow: 0 0 3px rgba(51,153,255,0.5);
  background-color: rgba(102,255,102,0.3);
  padding: 3px 2px 3px 5px;
  margin: 5px 0px 5px 50px;
  border: 1px solid rgba(0,102,204,0.5);
  border-radius: 5px;
  width:80%;
}
/*    */
/* CUSTOM BACKGROUND COLORS */
/* BLUE */
.bg-custom-blue-heavy { background-color: rgb(55,93,149); }
.bg-custom-blue-bold { background-color: rgb(73,120,188); }
.bg-custom-blue-mid { background-color: rgb(106,144,200);}
.bg-custom-blue-light { background-color: rgb(143,172,214);}
.bg-custom-blue-haze { background-color: rgb(180,200,228);}
/* TURQUOIS */
.bg-custom-turq-heavy { background-color: rgb(20,82,73);}
.bg-custom-turq-bold { background-color: rgb(30,123,110);}
.bg-custom-turq-mid { background-color: rgb(49,199,178);}
.bg-custom-turq-light { background-color: rgb(91,215,197);}
.bg-custom-turq-haze { background-color: rgb(17,235,226);}
/* GREEN */
.bg-custom-green-heavy { background-color: rgb(0,102,44);}
.bg-custom-green-bold { background-color: rgb(0,169,73);}
.bg-custom-green-mid { background-color: rgb(51,255,139);}
.bg-custom-green-light { background-color: rgb(102,255,168);}
.bg-custom-green-haze { background-color: rgb(153,255,197);}
/* PURPLE */
.bg-custom-purple-heavy { background-color: rgb(72,60,93);}
.bg-custom-purple-bold { background-color: rgb(96,79,125);}
.bg-custom-purple-mid { background-color: rgb(135,117,167);}
.bg-custom-purple-light { background-color: rgb(174,162,195);}
.bg-custom-purple-haze { background-color: rgb(201,193,215);}
/* RED */
.bg-custom-red-heavy { background-color: rgb(189,15,72);}
.bg-custom-red-bold { background-color: rgb(237,20,91);}
.bg-custom-red-mid { background-color: rgb(240,66,123);}
.bg-custom-red-light { background-color: rgb(244,113,156);}
.bg-custom-red-haze { background-color: rgb(248,160,189);}
/* GREY */
.bg-custom-grey-heavy { background-color: rgb(50,50,48);}
.bg-custom-grey-bold { background-color: rgb(108,100,96);}
.bg-custom-grey-mid { background-color: rgb(135,125,120);}
.bg-custom-grey-light { background-color: rgb(159,151,147);}
.bg-custom-grey-haze { background-color: rgb(206,202,200);}
.bg-custom-grey-shadow { background-color: rgba(206,202,200,0.4);}
/* COPPER */
.bg-custom-copper-heavy { background-color: rgb(150,82,3);}
.bg-custom-copper-bold { background-color: rgb(232,126,4);}
.bg-custom-copper-mid { background-color:rgb(251,136,4);}
.bg-custom-copper-light { background-color: rgb(252,184,105);}
.bg-custom-copper-haze { background-color: rgb(253,207,155);}
/* LEMON */
.bg-custom-lemon-heavy { background-color: rgb(145,118,8);}
.bg-custom-lemon-bold { background-color: rgb(241,196,14);}
.bg-custom-lemon-mid { background-color: rgb(244,208,63);}
.bg-custom-lemon-light { background-color: rgb(247,220,110);}
.bg-custom-lemon-haze { background-color: rgb(249,231,159);}
/* CUSTOM FONT COLORS */
.font-custom-grey-heavy { color: rgb(50,50,48);}
.font-custom-grey-bold { color: rgb(108,100,96);}
.font-custom-grey-mid { color: rgb(135,125,120);}
.font-custom-grey-light { color: rgb(159,151,147);}
.font-custom-grey-haze { color: rgb(206,202,200);}
/*  */
/* CUSTOM PORTLET STYLES */
/*  BLUE */
.portlet.bg-custom-blue-heavy.bordered { border: 1px solid rgb(55,93,149) !important; }
.portlet.bg-custom-blue-bold.bordered { border: 1px solid rgb(73,120,188) !important; }
.portlet.bg-custom-blue-mid.bordered { border: 1px solid rgb(106,144,200) !important; }
.portlet.bg-custom-blue-light.bordered { border: 1px solid rgb(143,172,214) !important; }
.portlet.bg-custom-blue-haze.bordered { border: 1px solid rgb(106,144,200) !important; }
/* GREEN */
.portlet.bg-custom-green-heavy.bordered { border: 1px solid rgb(0,102,44) !important; }
.portlet.bg-custom-green-bold.bordered { border: 1px solid rgb(0,169,73) !important; }
.portlet.bg-custom-green-mid.bordered { border: 1px solid rgb(51,255,139) !important; }
.portlet.bg-custom-green-light.bordered { border: 1px solid rgb(102,255,168) !important; }
.portlet.bg-custom-green-haze.bordered { border: 1px solid rgb(153,255,197) !important; }
/* TURQUOIS */
.portlet.bg-custom-turq-heavy.bordered { border: 1px solid rgb(20,82,73) !important; }
.portlet.bg-custom-turq-bold.bordered { border: 1px solid rgb(30,123,110) !important; }
.portlet.bg-custom-turq-mid.bordered { border: 1px solid rgb(49,199,178) !important; }
.portlet.bg-custom-turq-light.bordered { border: 1px solid rgb(91,215,197) !important; }
.portlet.bg-custom-turq-haze.bordered { border: 1px solid rgb(173,235,226) !important; }
/* PURPLE */
.portlet.bg-custom-purple-heavy.bordered { border: 1px solid rgb(72,60,93) !important; }
.portlet.bg-custom-purple-bold.bordered { border: 1px solid rgb(96,79,125) !important; }
.portlet.bg-custom-purple-mid.bordered { border: 1px solid rgb(135,117,167) !important; }
.portlet.bg-custom-purple-light.bordered { border: 1px solid rgb(174,162,195) !important; }
.portlet.bg-custom-purple-haze.bordered { border: 1px solid rgb(201,193,215) !important; }
/* RED */
.portlet.bg-custom-red-bold.bordered { border: 1px solid rgb(237,20,91) !important; }
.portlet.bg-custom-red-mid.bordered { border: 1px solid rgba(237,20,91,0.6) !important; }
.portlet.bg-custom-red-light.bordered { border: 1px solid rgba(237,20,91,0.3) !important; }
.portlet.bg-custom-red-haze.bordered { border: 1px solid rgba(237,20,91,0.1) !important; }
/* GREY */
.portlet.bg-custom-grey-bold.bordered { border: 1px solid rgb(206,202,200) !important; }
.portlet.bg-custom-grey-mid.bordered { border: 1px solid rgba(206,202,200,0.6) !important; }
.portlet.bg-custom-grey-light.bordered { border: 1px solid rgba(206,202,200,0.3) !important; }
.portlet.bg-custom-grey-haze.bordered { border: 1px solid rgba(206,202,200,0.1) !important; }
/*  */
.portlet.box.bg-custom-green-mid {
  border: 1px solid rgba(0,169,157,0.6);
  border-top: 0; }
.portlet.box.bg-custom-green-mid > .portlet-title {
  background-color: rgba(0,169,157,0.6);}
.portlet.box.bg-custom-green-mid > .portlet-title > .caption {
  color: #FFFFFF; }
.portlet.box.bg-custom-green-mid > .portlet-title > .caption > i {
  color: #FFFFFF; }
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default {
  background: rgb(0,169,157,0.3) !important;
  background-color: rgb(0,169,157) !important;
  border: 1px solid rgba(0,169,157,0.3);
  color: #5f83a7; }
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default > i {
  color: #698aac; }
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default:hover,
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default:focus,
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default:active,
.portlet.box.bg-custom-green-mid > .portlet-title > .actions .btn-default.active {
  border: 1px solid rgba(0,169,157);
  color: #809cb9; }
/*  */
.portlet.box.bg-custom-green-light {
  border: 1px solid rgba(0,169,157,0.3);
  border-top: 0; }
.portlet.box.bg-custom-green-light > .portlet-title {
  background-color: rgba(0,169,157,0.3);}
.portlet.box.bg-custom-green-light > .portlet-title > .caption {
  color: #FFFFFF; }
.portlet.box.bg-custom-green-light > .portlet-title > .caption > i {
  color: #FFFFFF; }
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default {
  background: rgb(0,169,157,0.3) !important;
  background-color: rgb(0,169,157) !important;
  border: 1px solid rgba(0,169,157,0.3);
  color: #5f83a7; }
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default > i {
  color: #698aac; }
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default:hover,
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default:focus,
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default:active,
.portlet.box.bg-custom-green-light > .portlet-title > .actions .btn-default.active {

  border: 1px solid rgb(0,169,157);
  color: #809cb9; }
/*  */
.portlet.box.bg-custom-purple-mid {
  border: 1px solid rgb(135,117,167);
  border-top: 0; }
.portlet.box.bg-custom-purple-mid > .portlet-title {
  background-color: rgb(135,117,167);}
.portlet.box.bg-custom-purple-mid > .portlet-title > .caption {
  color: #FFFFFF; }
.portlet.box.bg-custom-purple-mid > .portlet-title > .caption > i {
  color: #FFFFFF; }
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default {
  background: rgb(135,117,167) !important;
  background-color: rgb(135,117,167) !important;
  border: 1px solid rgb(135,117,167);
  color: #5f83a7; }
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default > i {
  color: #698aac; }
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default:hover,
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default:focus,
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default:active,
.portlet.box.bg-custom-purple-mid > .portlet-title > .actions .btn-default.active {
  border: 1px solid rgb(135,117,167);
  color: #bdccdb; }
/*  */
.portlet.box.bg-custom-purple-light {
  border: 1px solid rgb(174,162,195);
  border-top: 0; }
.portlet.box.bg-custom-purple-light > .portlet-title {
  background-color: rgb(174,162,195);}
.portlet.box.bg-custom-purple-light > .portlet-title > .caption {
  color: #FFFFFF; }
.portlet.box.bg-custom-purple-light > .portlet-title > .caption > i {
  color: #FFFFFF; }
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default {
  background: rgb(174,162,195) !important;
  background-color: rgb(174,162,195) !important;
  border: 1px solid rgb(174,162,195);
  color: #5f83a7; }
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default > i {
  color: #698aac; }
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default:hover,
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default:focus,
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default:active,
.portlet.box.bg-custom-purple-light > .portlet-title > .actions .btn-default.active {
  border: 1px solid rgb(174,162,195);
  color: #bdccdb; }
/*  */
.portlet.box.bg-custom-blue-mid {
  border: 1px solid rgba(73,120,188,0.6);
  border-top: 0; }
.portlet.box.bg-custom-blue-mid > .portlet-title {
  background-color:rgba(73,120,188,0.6);}
.portlet.box.bg-custom-blue-mid > .portlet-title > .caption {
  color: #FFFFFF; }
.portlet.box.bg-custom-blue-mid > .portlet-title > .caption > i {
  color: #FFFFFF; }
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default {
  background: rgb(73,120,188) !important;
  background-color: rgba(73,120,188,0.6) !important;
  border: 1px solid rgb(73,120,188);
  color: #5f83a7; }
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default > i {
  border: 1px solid rgb(73,120,188);
  color: #698aac; }
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:hover,
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:focus,
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:active,
.portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default.active {
  border: 1px rgb(73,120,188);
  color: #809cb9; }
  .portlet.box.bg-custom-blue-mid {
    border: 1px solid rgba(73,120,188,0.6);
    border-top: 0; }
  .portlet.box.bg-custom-blue-mid > .portlet-title {
    background-color:rgba(73,120,188,0.6);}
  .portlet.box.bg-custom-blue-mid > .portlet-title > .caption {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-mid > .portlet-title > .caption > i {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default {
    background: rgb(73,120,188) !important;
    background-color: rgba(73,120,188,0.6) !important;
    border: 1px solid rgb(73,120,188);
    color: #5f83a7; }
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default > i {
    border: 1px solid rgb(73,120,188);
    color: #698aac; }
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:hover,
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:focus,
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default:active,
  .portlet.box.bg-custom-blue-mid > .portlet-title > .actions .btn-default.active {
    border: 1px rgb(73,120,188);
    color: #809cb9; }
  /* PRTLET BLUE LIGHT */
  .portlet.box.bg-custom-blue-light {
    border: 1px solid rgb(143,172,214);
    border-top: 0; }
  .portlet.box.bg-custom-blue-light > .portlet-title {
    background-color:rgb(143,172,214);}
  .portlet.box.bg-custom-blue-light > .portlet-title > .caption {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-light > .portlet-title > .caption > i {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default {
    background: rgb(143,172,214) !important;
    background-color: rgb(143,172,214) !important;
    border: 1px solid rgb(143,172,214);
    color: #5f83a7; }
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default > i {
    border: 1px solid rgb(143,172,214);
    color: #698aac; }
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default:hover,
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default:focus,
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default:active,
  .portlet.box.bg-custom-blue-light > .portlet-title > .actions .btn-default.active {
    border: 1px rgb(143,172,214);
    color: #809cb9; }

  /* PORTLET BLUE HAZE */
  .portlet.box.bg-custom-blue-haze {
    border: 1px solid rgb(180,200,228);
    border-top: 0; }
  .portlet.box.bg-custom-blue-haze > .portlet-title {
    background-color:rgb(180,200,228)}
  .portlet.box.bg-custom-blue-haze > .portlet-title > .caption {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-haze > .portlet-title > .caption > i {
    color: #FFFFFF; }
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default {
    background: rgb(180,200,228) !important;
    background-color: rgb(180,200,228) !important;
    border: 1px solid rgb(73,120,188);
    color: #5f83a7; }
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default > i {
    border: 1px solid rgb(73,120,188);
    color: #698aac; }
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default:hover,
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default:focus,
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default:active,
  .portlet.box.bg-custom-blue-haze > .portlet-title > .actions .btn-default.active {
    border: 1px rgb(73,120,188);
    color: #809cb9; }
/*  */
.form-group .required {
  color: #1C2F4B;
  font-size: 14px;
  padding-left: 2px; }

.control-label .required
 {
  color: #000000; /*#BD0F48;*/
  font-size: 14px;
  padding-left: 2px; }

  input.required,
  select.required,
  textarea.required {
  box-shadow: 0 0 5px rgba(162,3,11,0.5);
  border: 2px solid rgba(162,3,11,0.3);
  font-size: 14px;
  padding-left: 2px;
  color: #000000;
}

/* CUSTOM BUTTON STYLES */
.btn.bg-custom-lemon-light {
  border-color: rgb(241,196,14);
  color: rgb(73,120,188);
  background: rgb(247,220,110);}
  .btn.bg-custom-lemon-light:hover,
  .btn.bg-custom-lemon-light:active,
  .btn.bg-custom-lemon-light:active:hover,
  .btn.bg-custom-lemon-light:active:focus,
  .btn.bg-custom-lemon-light:focus,
  .btn.bg-custom-lemon-light.active {
    border-color: rgb(241,196,14);
    color: #FFFFFF;
    background-color: rgb(241,196,14); }

.btn.bg-custom-lemon-haze {
  border-color: rgb(241,196,14);
  color: rgb(73,120,188);
  background:  rgb(249,231,159);}
  .btn.bg-custom-lemon-haze:hover,
  .btn.bg-custom-lemon-haze:active,
  .btn.bg-custom-lemon-haze:active:hover,
  .btn.bg-custom-lemon-haze:active:focus,
  .btn.bg-custom-lemon-haze:focus,
  .btn.bg-custom-lemon-haze.active {
    border-color: rgb(241,196,14);
    color: #FFFFFF;
    background-color: rgb(241,196,14); }

.btn.bg-custom-green-light {
  border-color: rgb(0,169,73);
  color: rgb(73,120,188);
  background: rgb(102,255,168); }
  .btn.bg-custom-green-light:hover,
  .btn.bg-custom-green-light:active,
  .btn.bg-custom-green-light:active:hover,
  .btn.bg-custom-green-light:active:focus,
  .btn.bg-custom-green-light:focus,
  .btn.bg-custom-green-light.active {
    border-color: rgb(0,169,73);
    color: #FFFFFF;
    background-color: rgb(0,169,73); }

.btn.bg-custom-green-haze {
  border-color: rgb(51,255,139);
  color: rgb(73,120,188);
  background: rgb(153,255,197); }
  .btn.bg-custom-green-haze:hover,
  .btn.bg-custom-green-haze:active,
  .btn.bg-custom-green-haze:active:hover,
  .btn.bg-custom-green-haze:active:focus,
  .btn.bg-custom-green-haze:focus,
  .btn.bg-custom-green-haze.active {
    border-color:rgb(51,255,139);
    color: #FFFFFF;
    background-color: rgb(0,169,73); }
/* CUSTOM FONT COLORS */
.font-custom-blue-heavy { color: rgb(55,93,149); }
.font-custom-blue-bold { color: rgb(73,120,188); }
.font-custom-blue-mid { color: rgb(106,144,200);}
.font-custom-blue-light { color: rgb(143,172,214);}
.font-custom-blue-haze { color: rgb(180,200,228);}
/*  */
.font-custom-green-heavy { color: rgb(0,102,44);}
.font-custom-green-bold { color: rgb(0,169,73);}
.font-custom-green-mid { color: rgb(51,255,139);}
.font-custom-green-light { color: rgb(102,255,168);}
.font-custom-green-haze { color: rgb(153,255,197);}
/* PURPLE */
.font-custom-purple-heavy { color: rgb(72,60,93);}
.font-custom-purple-bold { color: rgb(96,79,125);}
.font-custom-purple-mid { color: rgb(135,117,167);}
.font-custom-purple-light { color: rgb(174,162,195);}
.font-custom-purple-haze { color: rgb(201,193,215);}
